<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Quantity</th>
	<th>Total</th>
	<th>Remove</th>
  </tr>
  <tr>
    <td><img src="im1.jpg" alt="Mountain View" style="width:304px;height:228px;"></a></td>
    <td>$40.00</td>
    <td>
  <input type="text" name="quantity"></td>
  <td>$40.00</td>
  <td><input type="submit" value="Delete" name="del"></td>
   </tr>
  
</table>

</body>
</html>