
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
<img src="im1.jpg" alt="Mountain View" style="width:304px;height:228px;"></a>
</div>
<div>
<h3>Cross By Bag</h3>
<h3>$40.00</h3>
<div class="container">
  Quantity:
  <input type="text" name="quantity">
  <br>
  <br>
  <input type="submit" value="ADD TO CART" name="cart">
  <br>
  </div>
</div>

</body>
</html>
